<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Processing overview</title>
    <!-- TODO This style stuff should go into a css file later once I'm comfortable with it. -->
    <style>
        .processingTask {
            width: 500px;
            border: 5px outset gray;
            padding: 10px;
            text-align: center;
        }
    </style>

    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script> var run_task_url = "{% url 'processing:start_task' %}"</script>
    <script src="{% static 'processing/js/start_task.js' %}"></script>

</head>
<body>

<!-- Första versionen:
    - Klicka på en knapp för att köra ett cmd-kommando som sparas till databasen och tar några sekunder att köra -KLART!
    - Lista alla tasks som är aktiva och slutförda
    - Skriva in ett cmd-kommando i en ruta och trycka enter/på knapp för att köra

    -->

Index page!
<div>
<form action="{% url 'processing:start_task' %}" method="post">
    <!-- Token for being able to post forms. -->
    {% csrf_token %}
    <button type="submit" name="task_button" >Press to run a lame task</button>
</form>
</div>

<div>
    <button type="button" id="tsk_ajax" name="task_button_ajax" onclick="runTask()">
        Press to run a lame task dynamically</button>
</div>

<div class="processingTask">
    <label for="input_command">Some input: </label>
    <input id="input_command" type="text" name="input_command" size="50" value="{{ start_text }}">
    <input type="submit" value="OK" onclick="runTask()">
</div>
</body>
</html>